// login
.myPic{
  width: 200px;
  height: 260px;
  margin: 10px auto;
  border-radius: 5px;
}
.myBTN{
  width: 100%;
}
.myDIV{
  height: 300px;
  text-align: center;
  margin-top: 30px;
}
.myWrds{
  margin: 25px;
}
