<!-- <p>
  index works!
</p> -->
<!-- 页头 -->
<ion-header>
  <ion-toolbar>
    <ion-title slot="start" color="dark">
      NG 电影&nbsp;<ion-icon name="beer" color="danger"></ion-icon>
    </ion-title>
    <!-- <ion-searchbar slot="end"></ion-searchbar> -->
  </ion-toolbar>
</ion-header>
<!-- 主体:slides+grid+card -->
<ion-content>
  <!-- slides -->
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let banner of banner;index as i;">
      <img [src]="'../../assets/img/s'+i+'.jpg'">
    </ion-slide>
  </ion-slides>
  <!-- item -->
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="../../assets/img/movie.png">
    </ion-thumbnail>
    <ion-label color="danger">
      <ion-title>热门电影</ion-title>
    </ion-label>
  </ion-item>
  <!-- grid+card -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let movie of movies" no-padding>
        <ion-card [routerLink]="['/cart',movie.mid]">
          <ion-card-header class="card1">
            <img [src]="'https://triangle.applinzi.com/'+movie.mimg_url" class="myPic">
            <ion-text>{{movie.mtitle|slice:0:9}}</ion-text>
          </ion-card-header>
          <ion-card-content class="card2">
            <ion-label>评分:
              <ion-text color="warning">{{movie.mrank|number:'1.1-1'}}</ion-text>
            </ion-label>
            <ion-button size="small" color="danger" expand="full">查看详情</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>