/*  */

// .swiper-pagination-bullet-active{
//   background: maroon !important;
// }
*{
  text-align: center;
}

.myPic{
  width: 100%;
  height: 160px;
}

.card1{
  padding: 10px;
}

.card2{
  padding: 0px;
}